<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width" />
<style type="text/css">
  header {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0;
    background: white;
    font: 12px/16px "Lucida Grande", sans-serif;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
  }

  dl {
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
  }

  dt {
    width: 80px;
    padding: 1px;
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }

  dd {
    margin-left: 90px; /* 80px + 10px */
    padding: 1px;
  }

  nav {
    float: right;
    margin: 0;
  }

  nav a {
    color: #09c;
  }

  iframe {
    border: 0;
    width: 100%;
    height: 800px;
  }
</style>
</head>

<body>
<header>
  <dl>
    <% if mail.respond_to?(:smtp_envelope_from) && mail.from != mail.smtp_envelope_from %>
      <dt>SMTP-From:</dt>
      <dd><%= mail.smtp_envelope_from %></dd>
    <% end %>

    <dt>From:</dt>
    <dd><%= Rack::Utils.escape_html(mail.header['from'].to_s) %></dd>

    <% if mail.reply_to %>
      <dt>Reply-To:</dt>
      <dd><%= Rack::Utils.escape_html(mail.header['reply-to'].to_s) %></dd>
    <% end %>

    <dt>Subject:</dt>
    <dd><strong><%= mail.subject %></strong></dd>

    <dt>Date:</dt>
    <dd><%= Time.now.strftime("%b %e, %Y %I:%M:%S %p %Z") %></dd>

    <% if mail.respond_to?(:smtp_envelope_to) && mail.to != mail.smtp_envelope_to %>
      <dt>SMTP-To:</dt>
      <dd><%= mail.smtp_envelope_to %></dd>
    <% end %>

    <dt>To:</dt>
    <dd><%= Rack::Utils.escape_html(mail.header['to'].to_s) %></dd>
  </dl>

  <% if mail.multipart? %>
    <nav>
      <% if part.content_type && part.content_type.match(/text\/html/) %>
        <a href="<%= name %>.txt">View plain text version</a>
      <% else %>
        <a href="<%= name %>.html">View HTML version</a>
      <% end %>
    </nav>
  <% end %>

  <% unless mail.attachments.nil? || mail.attachments.empty? %>
    <ul>
      <% mail.attachments.each do |attachment| %>
        <%= Rack::Utils.escape_html(attachment.respond_to?(:original_filename) ? attachment.original_filename : attachment.filename) %>
      <% end %>
    </ul>
  <% end %>
</header>

<iframe seamless src="<%= part_url %>"></iframe>

</body>
</html>
