<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= body_part.charset %>" />
</head>
<style type="text/css">
  * { margin: 0; padding: 0; }

  body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 20px;
  }

  #message_headers {
    background: white;
    font: 12px/16px "Lucida Grande";
  }

  #message_headers dl {
    display: block;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  #message_headers dt {
    width: 60px;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }

  #message_headers dd {
    margin-left: 70px; /* 60px + 10px */
  }

  #message_headers p.alternate {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #message_headers p.alternate a {
    color: #09c;
  }

  iframe#message_body {
    border: 0;
    width: 100%;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  pre#message_body {
    white-space: pre-wrap;
  }
</style>

<div id="message_headers">
  <dl>
    <% if mail.respond_to?(:smtp_envelope_from) && mail.from != mail.smtp_envelope_from %>
      <dt>SMTP-From:</dt>
      <dd><%= mail.smtp_envelope_from %></dd>
    <% end %>

    <dt>From:</dt>
    <dd><%= mail.from %></dd>

    <% if mail.reply_to %>
      <dt>Reply-To:</dt>
      <dd><%= mail.reply_to %></dd>
    <% end %>

    <dt>Subject:</dt>
    <dd><strong><%= mail.subject %></strong></dd>

    <dt>Date:</dt>
    <dd><%= Time.now.strftime("%b %e, %Y %I:%M:%S %p %Z") %></dd>

    <% if mail.respond_to?(:smtp_envelope_to) && mail.to != mail.smtp_envelope_to %>
      <dt>SMTP-To:</dt>
      <dd><%= mail.smtp_envelope_to %></dd>
    <% end %>

    <dt>To:</dt>
    <dd><%= mail.to %></dd>
  </dl>

  <% if mail.multipart? %>
    <p class="alternate">
      <% if body_part.content_type && body_part.content_type.match(/text\/html/) %>
        <a href="<%= name %>.txt">View plain text version</a>
      <% else %>
        <a href="<%= name %>.html">View HTML version</a>
      <% end %>
    </p>
  <% end %>
</div>

<% if body_part.content_type && body_part.content_type.match(/text\/html/) %>
<iframe id="message_body" src="<%= body_only_path %>"></iframe>
<% else %>
<pre id="message_body"><%= body_part.body %></pre>
<% end %>
